<!DOCTYPE html>
<html>

<body>
  <div>
    <h1>Object Detection - API 1.0</h1>
    <br />
    <h2>Defined Routes for API</h2>
    <ul>
      <li>
        <b>GET REQUEST </b> -> /api/downloadModel
      </li>
      <li>
        Downloads the trained model from S3 Bucket
      </li>
      </br>
      <li>
        <b>POST REQUEST</b> -> /api/generateJson
      </li>

      <li>
        form-data with "videoFile" parameter and upload a Video file, check postman for reference
      </li>
    </ul>
  </div>
</body>

</html>